/*
  Josh"s Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

  
.header{
    height: 150px;
    width: 100%;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 500px;
    padding-left: 200px;
    background-color: #F6F7F8;
    align-items: center;
    margin-bottom: 100px;
    box-shadow   :5px 5px 12px 6px rgba(0,0,0,0.19);
}



#container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  gap: 25px;
  align-items: center;
  justify-content: center;
}
p{
  font-size: 20px;
}
#addBookForm{
  width: 150px;
  border-radius: 10px;
  height: 35px;
}
#cancelBtn{
  border-radius: 50%;
  margin-top: -10px;
  float: right;
  background-color: #7F8086;
}

button:hover{
  Transform: scale(1.05);
}
#book_form{
  padding: 30px;
  background-color: #F6F7F8;
}
.bookFormInput{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.bookFormInput legend{
  text-align: center;
}
.bookFormInput #read
{
 margin-left: 20px;
}

.bookFormInput #not_read
{
 margin-left: 10px;
}

#confirmBtn{
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  background-color: #b4b5be;
}
#book_form div:first-child{
  margin-top: -20px;
}